.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
}

.tags {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    height: 20px;
    border-radius: 3px;
    background-color: #425c74;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 10px;
    margin-right: 0.2em; 
}